@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1900px;
    margin: 0 auto;
    background: #0D0F40;
    height: 150px;
    margin-top: -20px;
    margin-right: 13px;
}

nav{
    height: 60px;
    display: flex;
    justify-self: space-between;
    align-items: center;
    margin: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    width: 750px;
    margin-top: 90px;
    justify-content: space-between;
}
nav ul1{
    display: flex;
    list-style: none;
    width: 490px;
    margin-top: 90px;
    justify-content: space-between;
}
nav ul1 li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 72px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 48px;
}
nav ul li1 a{
    text-decoration: none;
    color: #B2ACAC;
    font-size: 48px;
}
nav ul2 li a{
    display: flex;
    list-style: none;
    margin-top: 70px;
    text-decoration: none;
    color: #ffffff;
    font-size: 48px;
}
.search_area{
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 40px;
}
.search_bar{
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
    background: #ffffff;
    padding: .90rem ;
    border-radius: 40px;
}
.search_bar img{
    width: 35px;
    height: 35px;
    margin-top: 5px;
}
.search_bar input[type="text"] {
    font-size: 18px;
    width: 350px;
    padding: .90rem 0;
    border: none;
}
.Co p{
    font-size: 48px;
    margin-top: 120px;
    margin-left: 80px;
}
.Co1{
    margin-top: 50px;
    width: 1900px;
    height: 2px;
    background: #000;
}
.Cp1{
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
}
.C h1{
    margin-top: 20px;
    font-size: 60px;
    margin-left: 150px ;
}
.C p{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 150px;
}
.C ul{
    display: flex;
    margin-top: 50px;
    margin-left: 250px;
}
.C ul li1 a{
    text-decoration: none;
    font-size: 48px;
    color: #ffffff;
    background: #0D0F40;
    padding: .5rem 1.5rem;
}
.C ul li2 a{
    text-decoration: none;
    font-size: 48px;
    margin-left: 250px;
    color: #0E345A;
    background: #ffffff;
    border: 3px solid #0E345A;
}
.Ca{
    font-size: 38px;
    margin-top: 65px;
    margin-left: 80px;
}
.Ca1{
    margin-left: 270px;
    margin-top: -20px;
    height: 2px;
    background: #000;
}
.Ca{
    font-size: 38px;
    margin-top: 65px;
    margin-left: 80px;
}
.Ca1{
    margin-left: 270px;
    margin-top: -20px;
    height: 2px;
    background: #000;
}.Ca2{
    font-size: 38px;
    margin-top: 65px;
    margin-left: 80px;
}
.Ca3{
    margin-left: 275px;
    margin-top: -20px;
    height: 2px;
    background: #000;
}
.Cp2{
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
}
.C1 h1{
    margin-top: 20px;
    font-size: 60px;
    margin-left: 150px ;
}
.C1 p{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 150px;
}
.C1 ul{
    display: flex;
    margin-top: 50px;
    margin-left: 250px;
}
.C1 ul li1 a{
    text-decoration: none;
    font-size: 48px;
    color: #ffffff;
    background: #0D0F40;
    padding: .5rem 1.5rem;
}
.C1 ul li2 a{
    text-decoration: none;
    font-size: 48px;
    margin-left: 250px;
    color: #0E345A;
    background: #ffffff;
    border: 3px solid #0E345A;
}
.Cp3{
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
}
.C2 h1{
    margin-top: 20px;
    font-size: 60px;
    margin-left: 150px ;
}
.C2 p{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 150px;
}
.C2 ul{
    display: flex;
    margin-top: 50px;
    margin-left: 250px;
}
.C2 ul li1 a{
    text-decoration: none;
    font-size: 48px;
    color: #ffffff;
    background: #0D0F40;
    padding: .5rem 1.5rem;
}
.C2 ul li2 a{
    text-decoration: none;
    font-size: 48px;
    margin-left: 250px;
    color: #0E345A;
    background: #ffffff;
    border: 3px solid #0E345A;
}
.Po{
    margin-top: 40px;
    margin-left: 10px;
}
.Ho2 a{
    font-size: 48px;
    color: #fff;
    text-decoration: none;
    background: #0D0F40;
    padding: 5px 850px;
}
.l{
    background: #000;
    height: 2px;
    margin-top: 20px;
}